.card{
  width:10rem;
  cursor: pointer;
}
 
@media only screen and (min-width: 768px) {
  .movie-frame{
    margin-left: 2%
  }

  .card{
    width: 12rem;
  }

}

@media only screen and (max-width: 1194px) {
  .movie-frame{
    margin-left: 4%;
  }

  .card{
    width: 12rem;
  }
  
}

@media only screen and (max-width: 971px) {
  
  .movie-frame{
    margin-left: 5%;
  }

  .card{
    width: 12rem;
  }
  
}

@media only screen and (max-width: 770px) {
  
  .movie-frame{
    margin-left: 1.5%;
  }

  .card{
    width: 14rem;
  }
  
}

@media only screen and (max-width: 767px) {
 
  .movie-frame{
    margin-left: 4%;
  }

  .card{
    width: 14rem;
  }
  
}

 @media only screen and (max-width: 760px) {
    .movie-frame{
      margin-left: 2%;
    }

    .card{
      width: 16rem;
    }
    
  }

  @media only screen and (max-width: 550px) {
   
    .movie-frame{
      margin-left: 16%;
    }
    .card{
      width: 20rem;
    }
    
  }

  @media only screen and (max-width: 450px) {
  
    .movie-frame{
      margin-left: 10%;
    }
    .card{
      width: 18rem;
    }
    
  }

  @media only screen and (max-width: 415px) {
    
    .movie-frame{
      margin-left: 12%;
    }
    .card{
      width: 17rem;
    }
    
  }

  @media only screen and (max-width: 325px) {
   
    .movie-frame{
      margin-left: 12%;
    }
    .card{
      width: 15rem;
    }
    
  }

  .card{
    background-color:black;
    color: white;
  }


  
  .card:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
    padding: 1px;
  }